@model MvcApplication1.Global.Page
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section SEO {
    <title>Prolog - Administration</title>
}

@section NavigationMenu {
    @{Html.RenderAction("AdminMenuPartial", "Administration");}
}

<h1>Edit page</h1>

    <section>
       
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <label class="validation-summary-errors"> @ViewBag.Message</label>           
     <fieldset>
        <legend>SEO</legend>
            <ul>
                <li>
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m=> m.Title)
                    @Html.ValidationMessageFor(m => m.Title)
                </li>

                <li>
                    @Html.LabelFor(m => m.Description)
                    @Html.TextBoxFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </li>
                <li>
                    @Html.LabelFor(m => m.Keywords)
                    @Html.TextBoxFor(m => m.Keywords)
                    @Html.ValidationMessageFor(m => m.Keywords)
                </li>
            </ul>
    </fieldset> 

     <fieldset>
        <legend>Content</legend>
         @Html.EditorFor(m => m.Content)
    </fieldset>

    <div class="buttons">
        <input class="approve_button" type="submit" value="Save" />
        <input class="cancel_button" type="button" value="Cancel"
                onclick="location.href='@Url.Action("PageList", "Administration")'" />
    </div>
}   

</section>

 