@model List<MvcApplication1.Models.PagesListItem>
@{
    Layout = "~/Views/Administration/_AdminLayout.cshtml";
}

<h1>Manage pages</h1>
<section>
    <fieldset>
        <legend>List of pages</legend>

            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="validation-summary-errors">
                    <ul>
                        <li> @ViewBag.Message</li>
                    </ul>
                </div>
            }       

        <table class="admin_list">
            <tr>
                <th class="big_cell" width="30%">Title</th>
                <th width="14%">Is displayed</th>
                <th width="14%">Address</th>
                <th width="14%">Is in menu</th>
                <th width="14%">Parent page</th>
                <th width="14%">Display order</th>
            </tr>


            @foreach (var index in Model)//index
            {
                <tr>
                    <td>
                        <p>
                            <a href="@Url.Action("Page", "Administration", new { Id = index.Id })">
                                @index.Title
                            </a>
                        </p>
                    </td>
                    <td>@index.IsVisible</td>
                    <td>@index.Address</td>
                    <td>@index.IsInMenu</td>
                    <td>@index.Parent</td>
                    <td>@index.DisplayOrder</td>
                </tr>


                foreach (var parent in index.Children)//parents
                {
                    <tr>
                        <td>
                            <p>
                                &nbsp;&nbsp;
                                <a href="@Url.Action("Page", "Administration", new { Id = parent.Id })">
                                    @parent.Title
                                </a>
                            </p>
                        </td>
                        <td>@parent.IsVisible</td>
                        <td>@parent.Address</td>
                        <td>@parent.IsInMenu</td>
                        <td>@parent.Parent</td>
                        <td>@parent.DisplayOrder</td>
                    </tr>

                    foreach (var child in parent.Children) // children
                    {
                        <tr>
                            <td class="child_cell">
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="@Url.Action("Page", "Administration", new { Id = child.Id })">
                                        @child.Title
                                    </a>
                                </p>
                            </td>
                            <td class="child_cell">@child.IsVisible</td>
                            <td class="child_cell">@child.Address</td>
                            <td class="child_cell">@child.IsInMenu</td>
                            <td class="child_cell">@child.Parent</td>
                            <td class="child_cell">@child.DisplayOrder</td>
                        </tr>
                    }
                }
            }

        </table>
            <input class="approve_button" type="button" value="New page"
                   onclick="location.href='@Url.Action("Page", "Administration")'" />
</fieldset>
</section>

