@model MvcApplication1.Global.Page
@{
    Layout = "~/Views/Administration/_AdminLayout.cshtml";
}


<h1>Редактирование страницы</h1>

    <section>
        <fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
<label class="validation-summary-errors"> @ViewBag.Message</label>
            <ul>
                <li>
                    @Html.Label("Заголовок")
                    @Html.TextBoxFor(m=> m.Title)
                    @Html.ValidationMessageFor(m=> m.Title)
                </li>

                <li>
                    @Html.Label("Описание (description)")
                    @Html.TextBoxFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </li>
                <li>
                    @Html.Label("Ключевые слова (keywords)")
                    @Html.TextBoxFor(m => m.Keywords)
                    @Html.ValidationMessageFor(m => m.Keywords)
                </li>
                <li>
                    @Html.Label("Адрес (псевдоним)")
                    @Html.TextBoxFor(m => m.Address)
                    @Html.ValidationMessageFor(m => m.Address)
                </li>
                <li>
                    @Html.Label("Отобразить / скрыть")
                    @Html.CheckBoxFor(m => m.IsVisible)
                    @Html.ValidationMessageFor(m => m.IsVisible)
                </li>
                <li>
                    @Html.Label("Порядок отображения")
                    @Html.TextBoxFor(m => m.DisplayOrder)
                    @Html.ValidationMessageFor(m => m.DisplayOrder)
                </li>
                <li>
                    @Html.Label("Основное содержимое")
                    @Html.TextBoxFor(m => m.Content)
                    @Html.ValidationMessageFor(m => m.Content)
                </li>                   
              
            </ul>

            <div class="buttons">
                <input class="approve_button" type="submit" value="Сохранить" />
                <input class="cancel_button" type="button" value="Отменить"
                       onclick="location.href='@Url.Action("Page", "Administration")'" />
            </div>
            }            
</fieldset>
    </section>

 