@model MvcApplication1.Models.PageEditVM
@{
    Layout = "~/Views/Administration/_AdminLayout.cshtml";
}


<h1>Редактирование страницы</h1>

    <section>
       
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <label class="validation-summary-errors"> @ViewBag.Message</label>           
     <fieldset>
        <legend>SEO</legend>
            <ul>
                <li>
                    @Html.Label("Заголовок")
                    @Html.TextBoxFor(m=> m.Page.Title)
                    @Html.ValidationMessageFor(m => m.Page.Title)
                </li>

                <li>
                    @Html.Label("Описание (description)")
                    @Html.TextBoxFor(m => m.Page.Description)
                    @Html.ValidationMessageFor(m => m.Page.Description)
                </li>
                <li>
                    @Html.Label("Ключевые слова (keywords)")
                    @Html.TextBoxFor(m => m.Page.Keywords)
                    @Html.ValidationMessageFor(m => m.Page.Keywords)
                </li>
            </ul>
    </fieldset>
    
    if (string.Compare(Model.Page.Address, "Index", true) != 0)
    {
        <fieldset>
                <legend>Показывать на сайте</legend>
                <ul>
                    <li>
                        @Html.Label("Адрес (псевдоним)")
                        @Html.TextBoxFor(m => m.Page.Address)
                        @Html.ValidationMessageFor(m => m.Page.Address)
                    </li>
                    <li>
                        @Html.Label("Отобразить / скрыть")
                        @Html.CheckBoxFor(m => m.Page.IsVisible)
                        @Html.ValidationMessageFor(m => m.Page.IsVisible)
                    </li>
                    </ul>
        </fieldset>
                    
        <fieldset>
                <legend>Меню</legend>
                <ul>
                <li>
                    @Html.Label("Пункт в меню")
                    @Html.CheckBoxFor(m => m.Page.IsInMenu)
                    @Html.ValidationMessageFor(m => m.Page.IsInMenu)
                </li>
                    
                <li>
                    @Html.Label("Родительская страница")
                    @Html.DropDownListFor((m => m.Page.ParentId), 
                        new SelectList(Model.Parents, "Id", "Title"))
                </li>
                <li>
                    @Html.Label("Порядок отображения")
                    @Html.TextBoxFor(m => m.Page.DisplayOrder)
                    @Html.ValidationMessageFor(m => m.Page.DisplayOrder)
                </li>
               
            </ul>
    </fieldset>
    
     <fieldset>
        <legend>Основное содержимое</legend>
         @Html.EditorFor(m => m.Page.Content)
    </fieldset>
    }

    <div class="buttons">
        <input class="approve_button" type="submit" value="Сохранить" />
        <input class="cancel_button" type="button" value="Отменить"
                onclick="location.href='@Url.Action("Page", "Administration")'" />
    </div>
    
    
    <fieldset class="danger_area">
        @Html.ActionLink("Удалить страницу", "DeletePage", "Administration",
         new { confirm = true, pageId = Model.Page.Id },
         new { onclick = "return confirm('Вы в самом деле хотите удалить страницу?')" }) 
    </fieldset>
    
}            

    </section>

 