@model List<MvcApplication1.Models.PagesListItem>
@{
    Layout = "~/Views/Administration/_AdminLayout.cshtml";
}

<h1>Управление страницами</h1>
<section>
    <fieldset>
        <legend>Список страниц</legend>

            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="validation-summary-errors">
                    <ul>
                        <li> @ViewBag.Message</li>
                    </ul>
                </div>
            }       

            <table class="pagesList">
                <tr>
                    <th class="big_cell" width="30%">Заголовок</th>
                    <th width="14%">Отображать на сайте</th>
                    <th width="14%">Адрес</th>
                    <th width="14%">Пункт в меню</th>
                    <th width="14%">Родительская страница</th>
                    <th width="14%">Порядок отображения</th>
                </tr>


            @foreach (var index in Model)//index
            {
                <tr>
                    <td class="index_cell">
                        <p>
                            <a href="@Url.Action("Page", "Administration", new { Id = index.Id })">
                                @index.Title
                            </a>
                        </p>
                    </td>
                    <td class="index_cell">@index.IsVisible</td>
                    <td class="index_cell">@index.Address</td>
                    <td class="index_cell">@index.IsInMenu</td>
                    <td class="index_cell">@index.Parent</td>
                    <td class="index_cell">@index.DisplayOrder</td>
                </tr>
                
                
                foreach (var parent in index.Children)//parents
                {
                    <tr>
                        <td class="parent_cell">
                            <p>
                                <a href="@Url.Action("Page", "Administration", new { Id = parent.Id })">
                                    @parent.Title
                                </a>
                            </p>
                        </td>
                        <td class="parent_cell">@parent.IsVisible</td>
                        <td class="parent_cell">@parent.Address</td>
                        <td class="parent_cell">@parent.IsInMenu</td>
                        <td class="parent_cell">@parent.Parent</td>
                        <td class="parent_cell">@parent.DisplayOrder</td>
                    </tr>
                
                    foreach (var child in parent.Children) // children
                    {
                        <tr>
                        <td>
                            <p>
                                <a href="@Url.Action("Page", "Administration", new { Id = child.Id })">
                                    @child.Title
                                </a>
                            </p>
                        </td>
                        <td>@child.IsVisible</td>
                        <td>@child.Address</td>
                        <td>@child.IsInMenu</td>
                        <td>@child.Parent</td>
                        <td>@child.DisplayOrder</td>
                    </tr>                    
                    }
                }
            }

            </table>
            <input class="approve_button" type="button" value="Новая страница"
                   onclick="location.href='@Url.Action("Page", "Administration")'" />
</fieldset>
</section>

