@model MvcApplication1.Models.PageEditVM
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section SEO {
    <title>Prolog - Administration</title>
}

@section NavigationMenu {
    @{Html.RenderAction("AdminMenuPartial", "Administration");}
}

@section Scripts {
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


<h1>Edit page</h1>

    <section>
       
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <label class="validation-summary-errors"> @ViewBag.Message</label>           
     <fieldset>
        <legend>SEO</legend>
            <ul>
                 @Html.EditorFor(m => m.Page.Id)               
                <li>
                    @Html.LabelFor(m => m.Page.Title)
                    @Html.TextBoxFor(m=> m.Page.Title)
                    @Html.ValidationMessageFor(m => m.Page.Title)
                </li>

                <li>
                    @Html.LabelFor(m => m.Page.Description)
                    @Html.TextBoxFor(m => m.Page.Description)
                    @Html.ValidationMessageFor(m => m.Page.Description)
                </li>
                <li>
                    @Html.LabelFor(m => m.Page.Keywords)
                    @Html.TextBoxFor(m => m.Page.Keywords)
                    @Html.ValidationMessageFor(m => m.Page.Keywords)
                </li>
            </ul>
    </fieldset>  
    
    <fieldset>
        <legend>Show on the site</legend>
        <ul>
            <li>
                @Html.LabelFor(m => m.Page.Address)
                @Html.TextBoxFor(m => m.Page.Address)
                @Html.ValidationMessageFor(m => m.Page.Address)
            </li>
            <li>
                @Html.LabelFor(m => m.Page.IsVisible)
                @Html.CheckBoxFor(m => m.Page.IsVisible)
                @Html.ValidationMessageFor(m => m.Page.IsVisible)
            </li>
        </ul>
    </fieldset>
                    
    <fieldset>
        <legend>Navigation menu</legend>
        <ul>
            <li>
                @Html.LabelFor(m => m.Page.IsInMenu)
                @Html.CheckBoxFor(m => m.Page.IsInMenu)
                @Html.ValidationMessageFor(m => m.Page.IsInMenu)
            </li>
                    
            <li>
                @Html.LabelFor(m => m.Page.ParentId)
                @Html.DropDownListFor((m => m.Page.ParentId), 
                    new SelectList(Model.Parents, "Id", "Title"))
            </li>
            <li>
                @Html.LabelFor(m => m.Page.DisplayOrder)
                @Html.TextBoxFor(m => m.Page.DisplayOrder)
                @Html.ValidationMessageFor(m => m.Page.DisplayOrder)
            </li> 
        </ul>
    </fieldset>


     <fieldset>
        <legend>Content</legend>
         @Html.EditorFor(m => m.Page.Content)
    </fieldset>


    <div class="buttons">
        <input class="approve_button" type="submit" value="Save" />
        <input class="cancel_button" type="button" value="Cancel"
                onclick="location.href='@Url.Action("PageList", "Administration")'" />
    </div>
}
    
    <fieldset class="danger_area">
        @Html.ActionLink("Remove page", "DeletePage", "Administration",
         new { confirm = true, Id = Model.Page.Id },
         new { onclick = "return confirm('Вы в самом деле хотите удалить страницу?')" }) 
    </fieldset>
    
}            

</section>

 