@model MvcApplication1.Global.Page
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section SEO {
    <title>@Model.Title</title>
    <meta name="description" content="@Model.Description" />
    <meta name="keywords" content="@Model.Keywords" />
}

@section HeaderContent {
    <div class="main_img"> </div>
}

<div>    
    <h1>@Model.Title</h1>
    @Html.Raw(Model.Content)
</div>