@model MvcApplication1.Models.PasswordChangeModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section SEO {
    <title>Prolog - Administration</title>
}

@section NavigationMenu {
    @{Html.RenderAction("AdminMenuPartial", "Administration");}
}

@section Scripts {
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<h1>Change password</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <label class="validation-summary-errors"> @ViewBag.Message</label>

    <fieldset>
        <legend>changing password for user @Model.Email</legend>
        <ul>
            @Html.EditorFor(m => m.Id)
            @Html.EditorFor(m => m.Email)
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ul>
        <div class="buttons">
            <input class="approve_button" type="submit" value="Change" />
            <input class="cancel_button" type="button" value="Cancel"
                   onclick="location.href='@Url.Action("UserList", "Account")'" />
        </div>

</fieldset>
}
