@model MvcApplication1.Models.ManageModel
@{
    Layout = "~/Views/Administration/_AdminLayout.cshtml";
}


<h1>Изменение аккаунта</h1>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <label class="validation-summary-errors"> @ViewBag.Message</label>
    <fieldset>
        <legend>Обновить информацию</legend>
        <ul>            
            @Html.EditorFor(m => m.Id)           
            <li>
                <label> Логин / Email&nbsp;@Model.Email</label>
            </li>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.IsActive)
                @Html.CheckBoxFor(m => m.IsActive)
                @Html.ValidationMessageFor(m => m.IsActive)
            </li>
            <li>
                @Html.LabelFor(m => m.IsAdmin)
                @Html.CheckBoxFor(m => m.IsAdmin)
                @Html.ValidationMessageFor(m => m.IsAdmin)
            </li>
        </ul>

        <div class="buttons">
            <input class="approve_button" type="submit" value="Сохранить" />
        </div>

    </fieldset>
}

<fieldset class="danger_area">
    @Html.ActionLink("Удалить пользователя", "DeleteUser", "Account",
         new { confirm = true, Id = Model.Id },
         new { onclick = "return confirm('Вы в самом деле хотите удалить пользователя?')" })
</fieldset>
