@model List<MvcApplication1.Models.UserListItem>
@{
    Layout = "~/Views/Administration/_AdminLayout.cshtml";
}

<h1>Управление пользователями</h1>
<section>
    <fieldset>
        <legend>Список страниц</legend>

            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="validation-summary-errors">
                    <ul>
                        <li> @ViewBag.Message</li>
                    </ul>
                </div>
            }       

        <table class="admin_list">
            <tr>
                <th class="big_cell" width="25%">Логин / E-mail</th>
                <th width="15%">Имя</th>
                <th width="15%">Администратор?</th>
                <th width="15%">Аккаунт активен?</th>
                <th width="30%">Действия</th>
            </tr>


            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <p> @user.Email</p>
                    </td>
                    <td>@user.Name</td>
                    <td>@user.IsAdmin</td>
                    <td>@user.IsActive</td>
                    <td>
                        @if (string.Compare(user.Email, "SuperAdmin", true)!=0)
                        {
                            <input class="approve_button" type="button" value="Управление"
                               onclick="location.href='@Url.Action("Manage", "Account", new {Id = user.Id })'" />
                            
                            <input class="approve_button" type="button" value="Смена пароля"
                               onclick="location.href='@Url.Action("ChangePassword", "Account", new { Id = user.Id })'" />                            
                        }
                    </td>
                </tr>
            }

        </table>
        <input class="approve_button" type="button" value="Новый пользователь"
            onclick="location.href='@Url.Action("Register", "Account")'" />
</fieldset>
</section>

